/*google fonts*/

/*element selectors*/

/*className selectors*/
.vote-button {
  cursor: pointer;
}

.cred-post-form {
  max-width: 75%;
  text-align: right;
  margin-left: auto;
  margin-top: 20px;
}

.post-hidden {
  display: none;
}
